@charset "UTF-8";

@font-face {
  font-family: "rgd18";
  src:url("../fonts/icons/rgd18.eot");
  src:url("../fonts/icons/rgd18.eot?#iefix") format("embedded-opentype"),
  url("../fonts/icons/rgd18.woff") format("woff"),
  url("../fonts/icons/rgd18.ttf") format("truetype"),
  url("../fonts/icons/rgd18.svg#rgd18") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rgd18" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rgd18" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ambulance:before {
  content: "a";
}
.icon-backbone:before {
  content: "b";
}
.icon-certificate:before {
  content: "c";
}
.icon-keyboard:before {
  content: "d";
}
.icon-phone:before {
  content: "e";
}
.icon-search:before {
  content: "f";
}
.icon-bed:before {
  content: "g";
}
.icon-micro:before {
  content: "h";
}



