@import "font";

$GeometriaLight: 'Geometria Light';
@font-face {
  font-family: $GeometriaLight;
  src: url('../fonts/GeometriaLight/Geometria-Light.eot');
  src: url('../fonts/GeometriaLight/Geometria-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GeometriaLight/Geometria-Light.woff2') format('woff2'),
  url('../fonts/GeometriaLight/Geometria-Light.woff') format('woff'),
  url('../fonts/GeometriaLight/Geometria-Light.ttf') format('truetype'),
  url('../fonts/GeometriaLight/Geometria-Light.svg#Geometria-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
$Geometria: 'Geometria';
@font-face {
  font-family: $Geometria;
  src: url('../fonts/Geometria/Geometria.eot');
  src: url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria/Geometria.woff2') format('woff2'),
  url('../fonts/Geometria/Geometria.woff') format('woff'),
  url('../fonts/Geometria/Geometria.ttf') format('truetype'),
  url('../fonts/Geometria/Geometria.svg#Geometria-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin border_radius($left_top_corner, $right_top_corner, $right_bottom_corner, $left_bottom_corner) {
  -webkit-border-radius : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  -moz-border-radius    : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  border-radius         : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
}
@mixin box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : $offset_x $offset_y $blur $tension $color;
  box-shadow         : $offset_x $offset_y $blur $tension $color;
}
@mixin gradient($color_1, $color_2) {
  background: $color_1; /* Old browsers */
  background: -moz-linear-gradient(top, $color_1 0%, $color_2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_1), color-stop(100%,$color_2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color_1 0%,$color_2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color_1 0%,$color_2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $color_1 0%,$color_2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $color_1 0%,$color_2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 ); /* IE6-9 */

}

%clearfix {
  &:after {
    position   : static;
    display    : block;
    height     : 0;
    clear      : both;
    content    : "";
    visibility : hidden;
  }
}

$text_color_1: #343434;
$text_color_2: #1fbcec;
$text_color_3: #cccccc;
$text_color_4: #a3a3a3;
$text_color_5: #bbbbbb;
$text_color_6: #f5f5f5;
$text_color_7: #a7a7a7;
$text_color_8: #fff;
$border_color_1: #ebebeb;
$border_color_2: #343434;
$border_color_3: #d2d2d2;
$border_color_4: #1fbcec;
$bg_color_1: #d2d2d2;
$bg_color_2: #1ebfed;
$bg_color_3: #f9f9f9;
$bg_color_4: rgba(255,255,255, 0.3);
$bg_color_5: #fff;
$bg_color_6: #45d1f2;
$bg_color_7: #19afe8;
$bg_color_8: #097ca8;
$bg_color_9: #f6f6f6;
$bg_color_10: #343434;

body {
  font-family: $Geometria;
  color: $text_color_1;
  background-color: $bg_color_3;
}

.header {
  font-size: 40px;
  font-weight: bold;
}

.small_header {
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: $text_color_1;
}

.btn {
  padding: 14px 50px 14px 50px;
  position: relative;
  cursor: hand;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &.load_more {
    text-decoration: none;
    color: $text_color_1;
  }
}

.btn_v2 {
  border: 0;
  padding: 10px 25px 10px 25px;
  @include gradient($bg_color_6, $bg_color_7);
}

#header {
  background-color: $bg_color_5;
  header {
    padding: 15px 0 15px 0;
    .logo {
      width: 97px;
      height: 78px;
      overflow: hidden;
      float: left;
      margin: 0 15px 0 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    .company_name {
      margin: 15px 0 0 0;
      font-size: 16px;
      font-weight: bold;
    }
    .contact_place {
      text-align: center;
      margin: 10px 0 0 0;
      .data {
        .number {
          font-family: $Geometria;
          font-size: 22px;
          color: $text_color_1;
          text-decoration: none;
        }
      }
      .name {
        font-size: 14px;
      }
    }
  }
}

form {
  input[type=text] {
    border: 1px solid $border_color_1;
    padding: 7px;
    @include border_radius(3px, 3px, 3px, 3px);
  }
}
.select_list {
  padding: 0;
  margin: 7px 0 0 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px 0 0;
    a {
      color: $text_color_1;
      font-size: 18px;
      padding: 5px 5px 2px 5px;
      text-decoration: underline;
      &.hover {
        color: $text_color_2 !important;
      }
      &.active {
        padding: 3px 6px 3px 6px;
        text-decoration: none;
        border: 2px solid #1fbcec;
        @include border_radius(6px, 6px, 6px, 6px);
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}
.link_v1 {
  font-size: 16px;
  text-decoration: none;
  color: $text_color_1;
  border-bottom: 1px dashed $text_color_1;
  cursor: hand;
}
.info_list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0 0 20px 0;
    .date {
      color: $text_color_5;
      font-size: 14px;
      margin: 0 0 10px 0;
    }
    a {
      color: $text_color_1;
      font-size: 18px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#search_form {
  position: relative;
  input[type=text] {
    width: 100%;
    padding: 5px 30px 5px 35px;
    box-sizing: border-box;
  }
  .icon {
    position: absolute;
    top: 0;
    &.icon-keyboard {
      right: 0;
      font-size: 43px;
      color: $text_color_3;
      height: 100%;
      padding: 4px 1px 0 0;
      box-sizing: border-box;
      input[type=submit] {
        background-color: initial;
        border: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &.icon-search {
      top: 8px;
      left: 5px;
      color: $text_color_2;
      font-size: 26px;
    }
  }
}
#additional_menu {
  background-color: $bg_color_3;
  padding: 22px 0 10px 0;
}
.address {
  text-align: center;
  color: $text_color_2;
  font-size: 16px;
}
#ask_question_link {
  position: relative;
  top: 6px;
}
#main_menu {
  border-bottom: 1px solid $border_color_3;
  background-color: $bg_color_5;
  height: 80px;
  @include box_shadow(0, 2px, 2px, 0, $bg_color_1);
  * {
    z-index: 1000;
  }
  .first_menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li.first_item {
      width: 16.66666666666667%;
      float: left;
      text-align: center;

      a {
        text-decoration: none;
        padding: 30px 0 30px 0;
        display: block;
        font-size: 16px;
        color: $text_color_1;
        transition: 0.5s all;
        &:hover {
          color: white;
          background-color: $bg_color_2;
          transition: 0.5s all;
        }
      }
      .second_menu {
        position: absolute;
        width: 210px;
        padding: 0;
        margin: 0;
        list-style: none;
        z-index: 10;
        li.second_item {
          display: none;
          border-bottom: 1px solid $border_color_3;
          background-color: $bg_color_5;
          &:first-child {
            border-top: 1px solid $border_color_3;
          }
        }
      }
      &:hover {
        .second_menu {
          li.second_item {
            display: block;
          }
        }
      }
    }
    @extend %clearfix;
  }
}
#main_banner {
  position: relative;
  @include box_shadow(0, 3px, 10px, 0, $bg_color_1);
  .phrase {
    top: 30%;
    left: 10%;
    width: 30%;
    position: absolute;
  }
  video {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .section {
    position: absolute;
    top: 40px;
    z-index: 10;
    .g_row {
      .sub_menu {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        display: table;
        li {
          width: 25%;
          display: table-cell;
          background: $bg_color_3;
          border-right: 1px solid $border_color_3;
          box-sizing: border-box;
          padding: 10px 0 10px 0;
          @include box_shadow(0, 1px, 1px, 0, $bg_color_1);
          @include border_radius(3px, 3px, 3px, 3px);
          a {
            display: inline-block;
            height: 50px;
            width: 100%;
            color: $text_color_1;
            vertical-align: middle;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            position: relative;
            .text {
              position: relative;
              padding: 0 0 0 28px;
              top: 12px;
            }
            .two_line {
              top: 2px;
            }
            .icon {
              font-size: 32px;
              position: absolute;
              color: $text_color_4;
            }
            .icon-ambulance {
              top: 13px;
              left: 46px;
            }
            .icon-certificate {
              top: 15px;
              left: 35px;
            }
            .icon-bed {
              top: 12px;
              left: 57px;
            }
            .icon-micro {
              top: 12px;
              left: 30px;
            }
          }

          &:last-child {
            border-right: 0;
          }
          transition: 0.5s all;
          &:hover {
            .icon {
              color: $text_color_2;
            }
            backface-visibility: hidden;
            transition: 0.5s all;
            -webkit-transform: translateX(-2px) translateY(-2px);
            transform: translateX(-2px) translateY(-2px);
          }
        }
      }
    }
  }
}

#programms_menu {
  position: relative;
  top: -70px;
  height: 400px;
  .programms_cnt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        width: 25%;
        height: 380px;
        display: table-cell;
        text-align: center;
        padding: 25px;
        box-sizing: border-box;
        vertical-align: middle;
        cursor: hand;
        a {
          color: $text_color_1;
        }
        img {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          @include box_shadow(2px, 2px, 2px, 0, $bg_color_1);
          @include border_radius(3px, 3px, 3px, 3px);
        }
        span {
          position: absolute;
          top: 225px;
          left: 0;
          padding: 10px 40px 10px 40px;
          box-sizing: border-box;
          font-size: 24px;
          background-color: $bg_color_4;
        }
        transition: 0.5s all;
        &:hover, &.active {
          -webkit-transform: scale(1.17);
          -ms-transform: scale(1.17);
          transform: scale(1.17);
          transition: 0.5s all;
        }
        &.active img {
          transition: 1s all;
          border: 1px solid #B8E5ED;
        }
      }
    }
  }
}

#programms_content {
  padding: 0 0 30px 0;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    width: 100%;
    li {
      display: none;
      &.active {
        display: block;
      }
      &.animate {
        webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: puffIn;
        animation-name: puffIn;
      }
      .header {
        text-align: center;
      }
      .content_container {
        .attention {
          width: 32%;
          display: table-cell;
          box-sizing: border-box;
          padding: 0 30px 30px 30px;
          vertical-align: top;
          .text {
            font-size: 16px;
            padding: 40px 30px 40px 30px;
            box-sizing: border-box;
            border: 1px solid $border_color_1;
            background-color: $bg_color_5;
            position: relative;
            overflow: hidden;
            @include box_shadow(0, 4px, 0, 0, $bg_color_1);
            @include border_radius(7px, 7px, 7px, 7px);
            .coner {
              position: absolute;
              top: 0;
              right: 0;
            }
            p {
              margin: 20px 0 20px 0;
            }
            a {
              color: $text_color_1;
              font-size: 30px;
              text-decoration: none;
              display: block;
              text-align: center;
            }
          }
        }
        .content {
          width: 68%;
          display: table-cell;
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: table;
            li {
              width: 100%;
              display: table-cell;
              float: left;
              box-sizing: border-box;
              margin: 0 0 60px 0;
              .content_item {
                width: 50%;
                display: table-cell;
                .icon {
                  box-sizing: border-box;
                  width: 131px;
                  display: table-cell;
                  height: 1px;
                }
                .text {
                  box-sizing: border-box;
                  width: 301px;
                  padding: 0 20px 0 20px;
                  font-size: 20px;
                  display: table-cell;
                  vertical-align: top;
                }
              }
            }
            @extend %clearfix;
          }
        }
      }
    }
  }
}

#photo_slider {
  background-color: $bg_color_5;
  padding: 50px 0 50px 0;
  .photo_list {
    .photo_items {
      display: none;
      &.active {
        display: block;
      }
      &.animate, li.animate {
        webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: puffIn;
        animation-name: puffIn;
      }
    }
  }
  .navigation {
    .header {
      width: 60%;
      display: table-cell;
      box-sizing: border-box;
      vertical-align: top;
      float: left;
      margin: 0;
    }
    ul {
      width: 40%;
      display: table-cell;
      float: left;
      padding: 0;
      margin: 17px 0 0 0;
      box-sizing: border-box;
      li {
        width: 33%;
        display: table-cell;
        float: left;
        padding: 0 10px 0 0;
        margin: 0;
        box-sizing: border-box;
        &.active {
          a {
            padding: 3px 6px 3px 6px;
            text-decoration: none;
            border: 2px solid #1fbcec;
            @include border_radius(6px, 6px, 6px, 6px);
          }
        }
      }
      @extend %clearfix;
    }
    @extend %clearfix;
  }
  .content {
    padding: 40px 0 40px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    li {
      width: 50%;
      box-sizing: border-box;
      float: left;
      display: table-cell;
      position: relative;
      img, .text {
        width: 50%;
        box-sizing: border-box;
        float: left;
      }
      .arrow {
        position: absolute;
        width: 33px;
        height: 120px;
        top: 50%;
        left: 50%;
      }
      .text {
        padding: 40px 30px 40px 30px; ;
        .title {
          font-size: 22px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
        }
      }
      &.left {
        .arrow {
          margin: -60px 0 0 -32px;
          background: url(../images/arrow-left.png) no-repeat;
        }
      }
      &.right {
        .arrow {
          margin: -60px 0 0 0;
          background: url(../images/arrow-right.png) no-repeat;
        }
      }
      @extend %clearfix;
    }
    @extend %clearfix;
  }
  .holder {
    text-align: center;
    .btn {
      display: inline-block;
    }
  }
}

#additional_info {
  padding: 50px 0 50px 0;
}

#reviews {
  background-color: $bg_color_5;
  padding: 50px 0 50px 0;
  .reviews_items {
    padding: 0;
    margin: 0;
    list-style: none;
    .review {
      display: none;
      &.active {
        display: block;
      }
      &.animate {
        webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: puffIn;
        animation-name: puffIn;
      }
      .title {
        width: 100%;
        padding: 15px 0 15px 0;
        .phrase, .rating {
          display: block;
          float: left;
          box-sizing: border-box;
        }
        .phrase {
          font-size: 16px;
          font-weight: bold;
          position: relative;
          padding: 0 30px 0 30px;
          &:after, &:before {
            font-size: 65px;
            color: $text_color_6;
            position: absolute;
          }
          &:after {
            top: -30px;
            right: 0;
            content: close-quote;
          }
          &:before {
            top: -5px;
            left: 0;
            content: open-quote;
          }
        }
        .rating {
          padding: 0;
          margin: 0;
          list-style: none;
          float: right;
          margin: 0 25px 0 0;
          li {
            display: block;
            float: left;
            width: 22px;
            height: 19px;
            margin: 0 5px 0 0;
            &.active {
              background: url(../images/heart.png) no-repeat;
            }
            &.passive {
              background: url(../images/heart_grey.png) no-repeat;
            }
          }
        }
        @extend %clearfix;
      }
      .content {
        .text {
          padding: 15px 0 15px 0;
          color: $text_color_7;
        }
        .name {
          font-size: 18px;
          color: $text_color_3;
        }
      }
    }
  }
  .btns {
    padding: 65px 0 25px 0;
    .btn {
      text-decoration: none;
      color: $text_color_1;
      margin: 0 30px 0 0;
    }
  }
  .consult_form {
    padding: 45px 60px 45px 60px;
    box-sizing: border-box;
    text-align: center;
    background-color: $bg_color_9;
    @include box_shadow(0, 4px, 0, 0, $bg_color_1);
    @include border_radius(7px, 7px, 7px, 7px);
    input[type=text] {
      margin: 30px 0 0 0;
      padding: 10px 15px 10px 15px;
      width: 100%;
    }
    input[type=submit] {
      margin: 30px 0 0 0;
      font-size: 20px;
      width: 100%;
      color: $text_color_6;
      @include box_shadow(0, 6px, 0, 0, $bg_color_8);
      @include border_radius(7px, 7px, 7px, 7px);
    }
  }
}

form {
  .info {
    display: none;
  }
}

.form {
  padding: 45px 50px 45px 50px;
  box-sizing: border-box;
  text-align: center;
  background-color: $bg_color_9;
  @include box_shadow(0, 4px, 0, 0, $bg_color_1);
  @include border_radius(7px, 7px, 7px, 7px);
  input[type=text] {
    margin: 30px 0 0 0;
    padding: 10px 15px 10px 15px;
    width: 100%;
  }
  input[type=file] {
    margin: 30px 0 0 0;
    padding: 10px 15px 10px 15px;
    width: 100%;
    border: 1px solid #ebebeb;
  }
  textarea {
    margin: 30px 0 0 0;
    padding: 10px 15px 10px 15px;
    width: 100%;
    height: 100px;
    border: 1px solid #ebebeb;
  }
  input[type=submit] {
    margin: 30px 0 0 0;
    font-size: 20px;
    width: 100%;
    color: $text_color_6;
    @include box_shadow(0, 6px, 0, 0, $bg_color_8);
    @include border_radius(7px, 7px, 7px, 7px);
  }
  .captcha {
    margin: 30px 0 0 0;
  }
}


#partners {
  padding: 30px 0 30px 0;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    li {
      width: 20%;
      float: left;
      display: block;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    @extend %clearfix;
  }
}

#footer_menu {
  padding: 30px 0 30px 0;
  background-color: $bg_color_5;
  .footer_menu {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0 10px 0 0;
      float: left;
      a {
        color: $text_color_1;
        text-decoration: none;
        font-size: 18px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    @extend %clearfix;
  }
  .content {
    font-size: 18px;
    .title {
      margin: 0 10px 0 0;
    }
  }
  .footer_phones {
    text-align: center;
  }
  .footer_mails {
    text-align: right;
  }
}


#footer {
  padding: 30px 0 30px 0;
  .socials {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    li {
      float: left;
      transition: 0.5s all;
      &:hover {
        -webkit-transform: scale(1.17);
        -ms-transform: scale(1.17);
        transform: scale(1.17);
        transition: 0.5s all;
      }
    }
  }
}

#second_main_menu {
  padding: 30px 0 30px 0;
  background-color: $bg_color_5;
  z-index: 10;
  .g_row {
    .sub_menu {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;
      display: table;
      li {
        width: 25%;
        display: table-cell;
        background: $bg_color_3;
        border-right: 1px solid $border_color_3;
        box-sizing: border-box;
        padding: 10px 0 10px 0;
        @include box_shadow(0, 1px, 1px, 0, $bg_color_1);
        @include border_radius(3px, 3px, 3px, 3px);
        a {
          display: inline-block;
          height: 50px;
          width: 100%;
          color: $text_color_1;
          vertical-align: middle;
          text-align: center;
          text-decoration: none;
          font-size: 18px;
          position: relative;
          .text {
            position: relative;
            padding: 0 0 0 28px;
            top: 12px;
          }
          .two_line {
            top: 2px;
          }
          .icon {
            font-size: 32px;
            position: absolute;
            color: $text_color_4;
          }
          .icon-ambulance {
            top: 13px;
            left: 46px;
          }
          .icon-certificate {
            top: 15px;
            left: 35px;
          }
          .icon-bed {
            top: 12px;
            left: 57px;
          }
          .icon-micro {
            top: 12px;
            left: 30px;
          }
        }

        &:last-child {
          border-right: 0;
        }
        transition: 0.5s all;
        &:hover {
          .icon {
            color: $text_color_2;
          }
          backface-visibility: hidden;
          transition: 0.5s all;
          -webkit-transform: translateX(-2px) translateY(-2px);
          transform: translateX(-2px) translateY(-2px);
        }
      }
    }
  }
}

#main_content {
  background-color: $bg_color_5;
  .header {
    margin: 10px 0 10px 0;
  }
}

.map {
  width: 500px;
  height: 400px;
  border: 1px solid $bg_color_2;
  @include border_radius(5px, 5px, 5px, 5px);
  &.left {
    float: left;
    margin: 25px 25px 25px 0;
  }
  &.right {
    float: right;
    margin: 25px 0 25px 25px;
  }
}

.marked_list {
  list-style: none;
  padding:0;
  margin:0;
  li {
    margin: 0 !important;
    padding-left: 23px;
    text-indent: -1.4em;
    &:before {
      content: "•";
      color: $text_color_2;
      position: relative;
      top: -2px;
      font-size: 12px;
      margin: 0 15px 0 0;
    }
  }
}

.numirated_list {
  list-style: none;
  padding:0;
  margin:0;
  li {
    .num {
      color: $text_color_2;
      display: inline-block;
      width: 38px;
    }
  }
}

.words_bg {
  background: $text_color_2;
  color: $text_color_6;
}
.words_color {
  color: $text_color_2;
}
.words_underline {
  color: $text_color_2;
  text-decoration: underline;
}

.image {
  @include border_radius(5px, 5px, 5px, 5px);
  &.left {
    float: left;
    margin: 25px 25px 25px 0;
  }
  &.right {
    float: right;
    margin: 25px 0 25px 25px;
  }
}

.table {
  width: 100%;
  margin: 16px 0 16px 0;
  @include border_radius(3px, 3px, 3px, 3px);
  tr {
    th, td {
      padding: 10px;
    }
    th {
      text-align: left;
      background-color: $bg_color_2;
      color: $text_color_8;
      border-left: 1px solid $bg_color_5;
      &:first-child {
        border-left: 1px solid $bg_color_2;
      }
      &:last-child {
        border-right: 1px solid $bg_color_2;
      }
    }
    td {
      border-right: 1px solid $bg_color_1;
      border-bottom: 1px solid $bg_color_1;
      &:first-child {
        border-left: 1px solid $bg_color_1;
      }
    }
  }
}

.arcsis {
  width: 100px;
  position: absolute;
  top: 30px;
  left: 5px;
  img {
    width: 100%;
    height: auto;
  }
}

.entity_list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid $border_color_2;
    &:last-child {
      border-bottom: 0;
    }
    img {
      width: 20%;
      float: left;
    }
    .content {
      width: 80%;
      float: left;
      padding: 15px 15px 30px 15px;
      box-sizing: border-box;
      position: relative;
      .more {
        position: absolute;
        bottom: 0;
        right: 5px;
      }
    }
    @extend %clearfix;
  }
}

.small_navigation {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  @extend %clearfix;
}

.btn_panel {
  text-align: center;
  margin: 15px 0 15px 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  .bg {
    background: $bg_color_10;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .holder {
    width: 100%;
    margin: 50px 0 0 0;
    position: absolute;
    form {
      margin: 0 auto;
      display: block;
    }
    .ask_form {
      width: 400px;
    }
    .review_form {
      width: 400px;
    }
  }
}

.side_menu {
  ul {
    padding: 0;
    margin: 16px 0 16px 0;
    list-style: none;
    li {
      margin: 0 0 10px 0;
      a {
        color: $text_color_2;
      }
    }
  }
  border-right: 1px solid $border_color_3;
}

// Блок "Фото-слайдер"
#photo_slider_cnt {
  margin: 20px 65px 20px 65px;
  overflow: hidden;
  .slider_children {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 9999px;
    position: relative;
    li {
      position: relative;
      max-height: 300px;
      overflow: hidden;
      box-sizing: border-box;
      margin-right: 20px;
      float: left;
      width: 363px;
      @include border_radius(3px, 3px, 3px, 3px);
      &.current {
        /*border: 1px solid $border_color_4;*/
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    @extend %clearfix;
  }
  .left_switcher, .right_switcher {
    position: absolute;
    width: 39px;
    height: 44px;
    transition: all 1s;
    cursor: hand;
    opacity: 0.4;
    top: 45%;
    &:hover {
      opacity: 0.8;
    }
  }
  .left_switcher {
    left: 20px;
    background: url(../images/left_arrow.png) no-repeat;
  }
  .right_switcher {
    right: 0;
    background: url(../images/right_arrow.png) no-repeat;
  }
  @extend %clearfix;
}
.small_photo_slider_cnt {
  .slider_children {
    li {
      width: 250px !important;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
  }
  .form_bg {
    height: auto;
    background: $bg_color_3;
    width: 200px;
    text-align: center;
    margin: 60px auto 0 auto;
    .text {
      display: none;
    }
    form {
      input[type=text] {
        margin: 10px 0 10px 0;
      }
      .error {
        display: none;
      }
    }
  }
}
.image_popup {
  .image_holder {
    width: 900px;
    margin: 0 auto;
    background-color: $border_color_1;
    border: 1px solid $border_color_4;
    padding: 5px;
    box-sizing: border-box;
    @include border_radius(6px, 6px, 6px, 6px);
    img {
      cursor: hand;
      width: 100%;
    }
  }
}

@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2,2);
    -webkit-filter: blur(2px);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1,1);
    -webkit-filter: blur(0px);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2,2);
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1,1);
    filter: blur(0px);
  }
}
