@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(200px, 0px) rotate(180deg);
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(200px, 0px) rotate(180deg);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(200px, 0px) rotate(180deg);
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    -o-transform: translate(200px, 0px) rotate(180deg);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(200px, 0px) rotate(180deg);
  }
}
