@font-face {
  font-family: "rgd18";
  src: url("../fonts/icons/rgd18.eot");
  src: url("../fonts/icons/rgd18.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/rgd18.woff") format("woff"), url("../fonts/icons/rgd18.ttf") format("truetype"), url("../fonts/icons/rgd18.svg#rgd18") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/font.scss */
[data-icon]:before {
  font-family: "rgd18" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rgd18" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/font.scss */
.icon-ambulance:before {
  content: "a";
}

/* line 44, ../sass/font.scss */
.icon-backbone:before {
  content: "b";
}

/* line 47, ../sass/font.scss */
.icon-certificate:before {
  content: "c";
}

/* line 50, ../sass/font.scss */
.icon-keyboard:before {
  content: "d";
}

/* line 53, ../sass/font.scss */
.icon-phone:before {
  content: "e";
}

/* line 56, ../sass/font.scss */
.icon-search:before {
  content: "f";
}

/* line 59, ../sass/font.scss */
.icon-bed:before {
  content: "g";
}

/* line 62, ../sass/font.scss */
.icon-micro:before {
  content: "h";
}
