/* line 4, ../sass/grid.scss */
.g_row:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* line 25, ../sass/grid.scss */
.section {
  width: 100%;
  min-width: 1280px;
}

/* line 31, ../sass/grid.scss */
.inner_row {
  width: auto !important;
  min-width: auto !important;
}

/* line 35, ../sass/grid.scss */
.g_row {
  position: relative;
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
}
/* line 50, ../sass/grid.scss */
.g_row [class*=g_col_] {
  float: left;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  min-height: 1px;
}

@media screen {
  /* line 62, ../sass/grid.scss */
  [class*=g_col_] {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 67, ../sass/grid.scss */
  .g_col_d_1 {
    width: 8.33333333%;
  }

  /* line 71, ../sass/grid.scss */
  .g_col_d_2 {
    width: 16.66666667%;
  }

  /* line 75, ../sass/grid.scss */
  .g_col_d_3 {
    width: 25%;
  }

  /* line 79, ../sass/grid.scss */
  .g_col_d_4 {
    width: 33.33333333%;
  }

  /* line 83, ../sass/grid.scss */
  .g_col_d_5 {
    width: 41.66666667%;
  }

  /* line 87, ../sass/grid.scss */
  .g_col_d_6 {
    width: 50%;
  }

  /* line 91, ../sass/grid.scss */
  .g_col_d_7 {
    width: 58.33333333%;
  }

  /* line 95, ../sass/grid.scss */
  .g_col_d_8 {
    width: 66.66666667%;
  }

  /* line 99, ../sass/grid.scss */
  .g_col_d_9 {
    width: 75%;
  }

  /* line 103, ../sass/grid.scss */
  .g_col_d_10 {
    width: 83.33333333%;
  }

  /* line 107, ../sass/grid.scss */
  .g_col_d_11 {
    width: 91.66666667%;
  }

  /* line 111, ../sass/grid.scss */
  .g_col_d_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  /* line 120, ../sass/grid.scss */
  [class*=g_col_] {
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 125, ../sass/grid.scss */
  .g_col_m_1 {
    width: 8.33333333%;
  }

  /* line 129, ../sass/grid.scss */
  .g_col_m_2 {
    width: 16.66666667%;
  }

  /* line 133, ../sass/grid.scss */
  .g_col_m_3 {
    width: 25%;
  }

  /* line 137, ../sass/grid.scss */
  .g_col_m_4 {
    width: 33.33333333%;
  }

  /* line 141, ../sass/grid.scss */
  .g_col_m_5 {
    width: 41.66666667%;
  }

  /* line 145, ../sass/grid.scss */
  .g_col_m_6 {
    width: 50%;
  }

  /* line 149, ../sass/grid.scss */
  .g_col_m_7 {
    width: 58.33333333%;
  }

  /* line 153, ../sass/grid.scss */
  .g_col_m_8 {
    width: 66.66666667%;
  }

  /* line 157, ../sass/grid.scss */
  .g_col_m_9 {
    width: 75%;
  }

  /* line 161, ../sass/grid.scss */
  .g_col_m_10 {
    width: 83.33333333%;
  }

  /* line 165, ../sass/grid.scss */
  .g_col_m_11 {
    width: 91.66666667%;
  }

  /* line 169, ../sass/grid.scss */
  .g_col_m_12 {
    width: 100%;
  }
}
