@charset "UTF-8";
@font-face {
  font-family: "rgd18";
  src: url("../fonts/icons/rgd18.eot");
  src: url("../fonts/icons/rgd18.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/rgd18.woff") format("woff"), url("../fonts/icons/rgd18.ttf") format("truetype"), url("../fonts/icons/rgd18.svg#rgd18") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/font.scss */
[data-icon]:before {
  font-family: "rgd18" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rgd18" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/font.scss */
.icon-ambulance:before {
  content: "a";
}

/* line 44, ../sass/font.scss */
.icon-backbone:before {
  content: "b";
}

/* line 47, ../sass/font.scss */
.icon-certificate:before {
  content: "c";
}

/* line 50, ../sass/font.scss */
.icon-keyboard:before {
  content: "d";
}

/* line 53, ../sass/font.scss */
.icon-phone:before {
  content: "e";
}

/* line 56, ../sass/font.scss */
.icon-search:before {
  content: "f";
}

/* line 59, ../sass/font.scss */
.icon-bed:before {
  content: "g";
}

/* line 62, ../sass/font.scss */
.icon-micro:before {
  content: "h";
}

@font-face {
  font-family: "Geometria Light";
  src: url("../fonts/GeometriaLight/Geometria-Light.eot");
  src: url("../fonts/GeometriaLight/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GeometriaLight/Geometria-Light.woff2") format("woff2"), url("../fonts/GeometriaLight/Geometria-Light.woff") format("woff"), url("../fonts/GeometriaLight/Geometria-Light.ttf") format("truetype"), url("../fonts/GeometriaLight/Geometria-Light.svg#Geometria-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria.eot");
  src: url("../fonts/Geometria/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria.woff2") format("woff2"), url("../fonts/Geometria/Geometria.woff") format("woff"), url("../fonts/Geometria/Geometria.ttf") format("truetype"), url("../fonts/Geometria/Geometria.svg#Geometria-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 50, ../sass/main.scss */
#main_menu .first_menu:after, #programms_content ul li .content_container .content ul:after, #photo_slider .navigation ul:after, #photo_slider .navigation:after, #photo_slider .content li:after, #photo_slider .content:after, #reviews .reviews_items .review .title:after, #partners ul:after, #footer_menu .footer_menu:after, .entity_list li:after, .small_navigation:after, #photo_slider_cnt .slider_children:after, #photo_slider_cnt:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* line 83, ../sass/main.scss */
body {
  font-family: "Geometria";
  color: #343434;
  background-color: #f9f9f9;
}

/* line 89, ../sass/main.scss */
.header {
  font-size: 40px;
  font-weight: bold;
}

/* line 94, ../sass/main.scss */
.small_header {
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: #343434;
}

/* line 103, ../sass/main.scss */
.btn {
  padding: 14px 50px 14px 50px;
  position: relative;
  cursor: hand;
}
/* line 107, ../sass/main.scss */
.btn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 113, ../sass/main.scss */
.btn.load_more {
  text-decoration: none;
  color: #343434;
}

/* line 119, ../sass/main.scss */
.btn_v2 {
  border: 0;
  padding: 10px 25px 10px 25px;
  background: #45d1f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45d1f2 0%, #19afe8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45d1f2), color-stop(100%, #19afe8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45d1f2 0%, #19afe8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45d1f2 0%, #19afe8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45d1f2 0%, #19afe8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45d1f2 0%, #19afe8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_1, endColorstr=$color_2,GradientType=0 );
  /* IE6-9 */
}

/* line 125, ../sass/main.scss */
#header {
  background-color: #fff;
}
/* line 127, ../sass/main.scss */
#header header {
  padding: 15px 0 15px 0;
}
/* line 129, ../sass/main.scss */
#header header .logo {
  width: 97px;
  height: 78px;
  overflow: hidden;
  float: left;
  margin: 0 15px 0 0;
}
/* line 135, ../sass/main.scss */
#header header .logo img {
  width: 100%;
  height: auto;
}
/* line 140, ../sass/main.scss */
#header header .company_name {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}
/* line 145, ../sass/main.scss */
#header header .contact_place {
  text-align: center;
  margin: 10px 0 0 0;
}
/* line 149, ../sass/main.scss */
#header header .contact_place .data .number {
  font-family: "Geometria";
  font-size: 22px;
  color: #343434;
  text-decoration: none;
}
/* line 156, ../sass/main.scss */
#header header .contact_place .name {
  font-size: 14px;
}

/* line 164, ../sass/main.scss */
form input[type=text] {
  border: 1px solid #ebebeb;
  padding: 7px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

/* line 170, ../sass/main.scss */
.select_list {
  padding: 0;
  margin: 7px 0 0 0;
  list-style: none;
  text-align: center;
}
/* line 175, ../sass/main.scss */
.select_list li {
  display: inline-block;
  margin: 0 10px 0 0;
}
/* line 178, ../sass/main.scss */
.select_list li a {
  color: #343434;
  font-size: 18px;
  padding: 5px 5px 2px 5px;
  text-decoration: underline;
}
/* line 183, ../sass/main.scss */
.select_list li a.hover {
  color: #1fbcec !important;
}
/* line 186, ../sass/main.scss */
.select_list li a.active {
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  border: 2px solid #1fbcec;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
/* line 193, ../sass/main.scss */
.select_list li:last-child {
  margin: 0;
}

/* line 198, ../sass/main.scss */
.link_v1 {
  font-size: 16px;
  text-decoration: none;
  color: #343434;
  border-bottom: 1px dashed #343434;
  cursor: hand;
}

/* line 205, ../sass/main.scss */
.info_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 209, ../sass/main.scss */
.info_list li {
  margin: 0 0 20px 0;
}
/* line 211, ../sass/main.scss */
.info_list li .date {
  color: #bbbbbb;
  font-size: 14px;
  margin: 0 0 10px 0;
}
/* line 216, ../sass/main.scss */
.info_list li a {
  color: #343434;
  font-size: 18px;
  text-decoration: none;
}
/* line 220, ../sass/main.scss */
.info_list li a:hover {
  text-decoration: underline;
}

/* line 227, ../sass/main.scss */
#search_form {
  position: relative;
}
/* line 229, ../sass/main.scss */
#search_form input[type=text] {
  width: 100%;
  padding: 5px 30px 5px 35px;
  box-sizing: border-box;
}
/* line 234, ../sass/main.scss */
#search_form .icon {
  position: absolute;
  top: 0;
}
/* line 237, ../sass/main.scss */
#search_form .icon.icon-keyboard {
  right: 0;
  font-size: 43px;
  color: #cccccc;
  height: 100%;
  padding: 4px 1px 0 0;
  box-sizing: border-box;
}
/* line 244, ../sass/main.scss */
#search_form .icon.icon-keyboard input[type=submit] {
  background-color: initial;
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 254, ../sass/main.scss */
#search_form .icon.icon-search {
  top: 8px;
  left: 5px;
  color: #1fbcec;
  font-size: 26px;
}

/* line 262, ../sass/main.scss */
#additional_menu {
  background-color: #f9f9f9;
  padding: 22px 0 10px 0;
}

/* line 266, ../sass/main.scss */
.address {
  text-align: center;
  color: #1fbcec;
  font-size: 16px;
}

/* line 271, ../sass/main.scss */
#ask_question_link {
  position: relative;
  top: 6px;
}

/* line 275, ../sass/main.scss */
#main_menu {
  border-bottom: 1px solid #d2d2d2;
  background-color: #fff;
  height: 80px;
  -webkit-box-shadow: 0 2px 2px 0 #d2d2d2;
  -moz-box-shadow: 0 2px 2px 0 #d2d2d2;
  box-shadow: 0 2px 2px 0 #d2d2d2;
}
/* line 280, ../sass/main.scss */
#main_menu * {
  z-index: 1000;
}
/* line 283, ../sass/main.scss */
#main_menu .first_menu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 288, ../sass/main.scss */
#main_menu .first_menu li.first_item {
  width: 16.66666666666667%;
  float: left;
  text-align: center;
}
/* line 293, ../sass/main.scss */
#main_menu .first_menu li.first_item a {
  text-decoration: none;
  padding: 30px 0 30px 0;
  display: block;
  font-size: 16px;
  color: #343434;
  transition: 0.5s all;
}
/* line 300, ../sass/main.scss */
#main_menu .first_menu li.first_item a:hover {
  color: white;
  background-color: #1ebfed;
  transition: 0.5s all;
}
/* line 306, ../sass/main.scss */
#main_menu .first_menu li.first_item .second_menu {
  position: absolute;
  width: 210px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
}
/* line 313, ../sass/main.scss */
#main_menu .first_menu li.first_item .second_menu li.second_item {
  display: none;
  border-bottom: 1px solid #d2d2d2;
  background-color: #fff;
}
/* line 317, ../sass/main.scss */
#main_menu .first_menu li.first_item .second_menu li.second_item:first-child {
  border-top: 1px solid #d2d2d2;
}
/* line 324, ../sass/main.scss */
#main_menu .first_menu li.first_item:hover .second_menu li.second_item {
  display: block;
}

/* line 333, ../sass/main.scss */
#main_banner {
  position: relative;
  -webkit-box-shadow: 0 3px 10px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 10px 0 #d2d2d2;
  box-shadow: 0 3px 10px 0 #d2d2d2;
}
/* line 336, ../sass/main.scss */
#main_banner .phrase {
  top: 30%;
  left: 10%;
  width: 30%;
  position: absolute;
}
/* line 342, ../sass/main.scss */
#main_banner video {
  width: 100%;
}
/* line 344, ../sass/main.scss */
#main_banner video img {
  width: 100%;
}
/* line 348, ../sass/main.scss */
#main_banner .section {
  position: absolute;
  top: 40px;
  z-index: 10;
}
/* line 353, ../sass/main.scss */
#main_banner .section .g_row .sub_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: table;
}
/* line 359, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li {
  width: 25%;
  display: table-cell;
  background: #f9f9f9;
  border-right: 1px solid #d2d2d2;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  -webkit-box-shadow: 0 1px 1px 0 #d2d2d2;
  -moz-box-shadow: 0 1px 1px 0 #d2d2d2;
  box-shadow: 0 1px 1px 0 #d2d2d2;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  transition: 0.5s all;
}
/* line 368, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a {
  display: inline-block;
  height: 50px;
  width: 100%;
  color: #343434;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
/* line 378, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a .text {
  position: relative;
  padding: 0 0 0 28px;
  top: 12px;
}
/* line 383, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a .two_line {
  top: 2px;
}
/* line 386, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a .icon {
  font-size: 32px;
  position: absolute;
  color: #a3a3a3;
}
/* line 391, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a .icon-ambulance {
  top: 13px;
  left: 46px;
}
/* line 395, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a .icon-certificate {
  top: 15px;
  left: 35px;
}
/* line 399, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a .icon-bed {
  top: 12px;
  left: 57px;
}
/* line 403, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li a .icon-micro {
  top: 12px;
  left: 30px;
}
/* line 409, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li:last-child {
  border-right: 0;
}
/* line 413, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li:hover {
  backface-visibility: hidden;
  transition: 0.5s all;
  -webkit-transform: translateX(-2px) translateY(-2px);
  transform: translateX(-2px) translateY(-2px);
}
/* line 414, ../sass/main.scss */
#main_banner .section .g_row .sub_menu li:hover .icon {
  color: #1fbcec;
}

/* line 428, ../sass/main.scss */
#programms_menu {
  position: relative;
  top: -70px;
  height: 400px;
}
/* line 432, ../sass/main.scss */
#programms_menu .programms_cnt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 437, ../sass/main.scss */
#programms_menu .programms_cnt ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 442, ../sass/main.scss */
#programms_menu .programms_cnt ul li {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  width: 25%;
  height: 380px;
  display: table-cell;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: hand;
  transition: 0.5s all;
}
/* line 454, ../sass/main.scss */
#programms_menu .programms_cnt ul li a {
  color: #343434;
}
/* line 457, ../sass/main.scss */
#programms_menu .programms_cnt ul li img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 2px 2px 0 #d2d2d2;
  -moz-box-shadow: 2px 2px 2px 0 #d2d2d2;
  box-shadow: 2px 2px 2px 0 #d2d2d2;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
/* line 466, ../sass/main.scss */
#programms_menu .programms_cnt ul li span {
  position: absolute;
  top: 225px;
  left: 0;
  padding: 10px 40px 10px 40px;
  box-sizing: border-box;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 476, ../sass/main.scss */
#programms_menu .programms_cnt ul li:hover, #programms_menu .programms_cnt ul li.active {
  -webkit-transform: scale(1.17);
  -ms-transform: scale(1.17);
  transform: scale(1.17);
  transition: 0.5s all;
}
/* line 482, ../sass/main.scss */
#programms_menu .programms_cnt ul li.active img {
  transition: 1s all;
  border: 1px solid #B8E5ED;
}

/* line 491, ../sass/main.scss */
#programms_content {
  padding: 0 0 30px 0;
}
/* line 493, ../sass/main.scss */
#programms_content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  width: 100%;
}
/* line 499, ../sass/main.scss */
#programms_content ul li {
  display: none;
}
/* line 501, ../sass/main.scss */
#programms_content ul li.active {
  display: block;
}
/* line 504, ../sass/main.scss */
#programms_content ul li.animate {
  webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}
/* line 512, ../sass/main.scss */
#programms_content ul li .header {
  text-align: center;
}
/* line 516, ../sass/main.scss */
#programms_content ul li .content_container .attention {
  width: 32%;
  display: table-cell;
  box-sizing: border-box;
  padding: 0 30px 30px 30px;
  vertical-align: top;
}
/* line 522, ../sass/main.scss */
#programms_content ul li .content_container .attention .text {
  font-size: 16px;
  padding: 40px 30px 40px 30px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 0 0 #d2d2d2;
  -moz-box-shadow: 0 4px 0 0 #d2d2d2;
  box-shadow: 0 4px 0 0 #d2d2d2;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
/* line 532, ../sass/main.scss */
#programms_content ul li .content_container .attention .text .coner {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 537, ../sass/main.scss */
#programms_content ul li .content_container .attention .text p {
  margin: 20px 0 20px 0;
}
/* line 540, ../sass/main.scss */
#programms_content ul li .content_container .attention .text a {
  color: #343434;
  font-size: 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}
/* line 549, ../sass/main.scss */
#programms_content ul li .content_container .content {
  width: 68%;
  display: table-cell;
}
/* line 552, ../sass/main.scss */
#programms_content ul li .content_container .content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: table;
}
/* line 557, ../sass/main.scss */
#programms_content ul li .content_container .content ul li {
  width: 100%;
  display: table-cell;
  float: left;
  box-sizing: border-box;
  margin: 0 0 60px 0;
}
/* line 563, ../sass/main.scss */
#programms_content ul li .content_container .content ul li .content_item {
  width: 50%;
  display: table-cell;
}
/* line 566, ../sass/main.scss */
#programms_content ul li .content_container .content ul li .content_item .icon {
  box-sizing: border-box;
  width: 131px;
  display: table-cell;
  height: 1px;
}
/* line 572, ../sass/main.scss */
#programms_content ul li .content_container .content ul li .content_item .text {
  box-sizing: border-box;
  width: 301px;
  padding: 0 20px 0 20px;
  font-size: 20px;
  display: table-cell;
  vertical-align: top;
}

/* line 590, ../sass/main.scss */
#photo_slider {
  background-color: #fff;
  padding: 50px 0 50px 0;
}
/* line 594, ../sass/main.scss */
#photo_slider .photo_list .photo_items {
  display: none;
}
/* line 596, ../sass/main.scss */
#photo_slider .photo_list .photo_items.active {
  display: block;
}
/* line 599, ../sass/main.scss */
#photo_slider .photo_list .photo_items.animate, #photo_slider .photo_list .photo_items li.animate {
  webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}
/* line 610, ../sass/main.scss */
#photo_slider .navigation .header {
  width: 60%;
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
  float: left;
  margin: 0;
}
/* line 618, ../sass/main.scss */
#photo_slider .navigation ul {
  width: 40%;
  display: table-cell;
  float: left;
  padding: 0;
  margin: 17px 0 0 0;
  box-sizing: border-box;
}
/* line 625, ../sass/main.scss */
#photo_slider .navigation ul li {
  width: 33%;
  display: table-cell;
  float: left;
  padding: 0 10px 0 0;
  margin: 0;
  box-sizing: border-box;
}
/* line 633, ../sass/main.scss */
#photo_slider .navigation ul li.active a {
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  border: 2px solid #1fbcec;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
/* line 645, ../sass/main.scss */
#photo_slider .content {
  padding: 40px 0 40px 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
/* line 650, ../sass/main.scss */
#photo_slider .content li {
  width: 50%;
  box-sizing: border-box;
  float: left;
  display: table-cell;
  position: relative;
}
/* line 656, ../sass/main.scss */
#photo_slider .content li img, #photo_slider .content li .text {
  width: 50%;
  box-sizing: border-box;
  float: left;
}
/* line 661, ../sass/main.scss */
#photo_slider .content li .arrow {
  position: absolute;
  width: 33px;
  height: 120px;
  top: 50%;
  left: 50%;
}
/* line 668, ../sass/main.scss */
#photo_slider .content li .text {
  padding: 40px 30px 40px 30px;
}
/* line 670, ../sass/main.scss */
#photo_slider .content li .text .title {
  font-size: 22px;
  font-weight: bold;
}
/* line 674, ../sass/main.scss */
#photo_slider .content li .text p {
  font-size: 14px;
}
/* line 679, ../sass/main.scss */
#photo_slider .content li.left .arrow {
  margin: -60px 0 0 -32px;
  background: url(../images/arrow-left.png) no-repeat;
}
/* line 685, ../sass/main.scss */
#photo_slider .content li.right .arrow {
  margin: -60px 0 0 0;
  background: url(../images/arrow-right.png) no-repeat;
}
/* line 694, ../sass/main.scss */
#photo_slider .holder {
  text-align: center;
}
/* line 696, ../sass/main.scss */
#photo_slider .holder .btn {
  display: inline-block;
}

/* line 702, ../sass/main.scss */
#additional_info {
  padding: 50px 0 50px 0;
}

/* line 706, ../sass/main.scss */
#reviews {
  background-color: #fff;
  padding: 50px 0 50px 0;
}
/* line 709, ../sass/main.scss */
#reviews .reviews_items {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 713, ../sass/main.scss */
#reviews .reviews_items .review {
  display: none;
}
/* line 715, ../sass/main.scss */
#reviews .reviews_items .review.active {
  display: block;
}
/* line 718, ../sass/main.scss */
#reviews .reviews_items .review.animate {
  webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}
/* line 726, ../sass/main.scss */
#reviews .reviews_items .review .title {
  width: 100%;
  padding: 15px 0 15px 0;
}
/* line 729, ../sass/main.scss */
#reviews .reviews_items .review .title .phrase, #reviews .reviews_items .review .title .rating {
  display: block;
  float: left;
  box-sizing: border-box;
}
/* line 734, ../sass/main.scss */
#reviews .reviews_items .review .title .phrase {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding: 0 30px 0 30px;
}
/* line 739, ../sass/main.scss */
#reviews .reviews_items .review .title .phrase:after, #reviews .reviews_items .review .title .phrase:before {
  font-size: 65px;
  color: #f5f5f5;
  position: absolute;
}
/* line 744, ../sass/main.scss */
#reviews .reviews_items .review .title .phrase:after {
  top: -30px;
  right: 0;
  content: close-quote;
}
/* line 749, ../sass/main.scss */
#reviews .reviews_items .review .title .phrase:before {
  top: -5px;
  left: 0;
  content: open-quote;
}
/* line 755, ../sass/main.scss */
#reviews .reviews_items .review .title .rating {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
  margin: 0 25px 0 0;
}
/* line 761, ../sass/main.scss */
#reviews .reviews_items .review .title .rating li {
  display: block;
  float: left;
  width: 22px;
  height: 19px;
  margin: 0 5px 0 0;
}
/* line 767, ../sass/main.scss */
#reviews .reviews_items .review .title .rating li.active {
  background: url(../images/heart.png) no-repeat;
}
/* line 770, ../sass/main.scss */
#reviews .reviews_items .review .title .rating li.passive {
  background: url(../images/heart_grey.png) no-repeat;
}
/* line 778, ../sass/main.scss */
#reviews .reviews_items .review .content .text {
  padding: 15px 0 15px 0;
  color: #a7a7a7;
}
/* line 782, ../sass/main.scss */
#reviews .reviews_items .review .content .name {
  font-size: 18px;
  color: #cccccc;
}
/* line 789, ../sass/main.scss */
#reviews .btns {
  padding: 65px 0 25px 0;
}
/* line 791, ../sass/main.scss */
#reviews .btns .btn {
  text-decoration: none;
  color: #343434;
  margin: 0 30px 0 0;
}
/* line 797, ../sass/main.scss */
#reviews .consult_form {
  padding: 45px 60px 45px 60px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 4px 0 0 #d2d2d2;
  -moz-box-shadow: 0 4px 0 0 #d2d2d2;
  box-shadow: 0 4px 0 0 #d2d2d2;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
/* line 804, ../sass/main.scss */
#reviews .consult_form input[type=text] {
  margin: 30px 0 0 0;
  padding: 10px 15px 10px 15px;
  width: 100%;
}
/* line 809, ../sass/main.scss */
#reviews .consult_form input[type=submit] {
  margin: 30px 0 0 0;
  font-size: 20px;
  width: 100%;
  color: #f5f5f5;
  -webkit-box-shadow: 0 6px 0 0 #097ca8;
  -moz-box-shadow: 0 6px 0 0 #097ca8;
  box-shadow: 0 6px 0 0 #097ca8;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

/* line 821, ../sass/main.scss */
form .info {
  display: none;
}

/* line 826, ../sass/main.scss */
.form {
  padding: 45px 50px 45px 50px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 4px 0 0 #d2d2d2;
  -moz-box-shadow: 0 4px 0 0 #d2d2d2;
  box-shadow: 0 4px 0 0 #d2d2d2;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
/* line 833, ../sass/main.scss */
.form input[type=text] {
  margin: 30px 0 0 0;
  padding: 10px 15px 10px 15px;
  width: 100%;
}
/* line 838, ../sass/main.scss */
.form input[type=file] {
  margin: 30px 0 0 0;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border: 1px solid #ebebeb;
}
/* line 844, ../sass/main.scss */
.form textarea {
  margin: 30px 0 0 0;
  padding: 10px 15px 10px 15px;
  width: 100%;
  height: 100px;
  border: 1px solid #ebebeb;
}
/* line 851, ../sass/main.scss */
.form input[type=submit] {
  margin: 30px 0 0 0;
  font-size: 20px;
  width: 100%;
  color: #f5f5f5;
  -webkit-box-shadow: 0 6px 0 0 #097ca8;
  -moz-box-shadow: 0 6px 0 0 #097ca8;
  box-shadow: 0 6px 0 0 #097ca8;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
/* line 859, ../sass/main.scss */
.form .captcha {
  margin: 30px 0 0 0;
}

/* line 865, ../sass/main.scss */
#partners {
  padding: 30px 0 30px 0;
}
/* line 867, ../sass/main.scss */
#partners ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
/* line 872, ../sass/main.scss */
#partners ul li {
  width: 20%;
  float: left;
  display: block;
}
/* line 876, ../sass/main.scss */
#partners ul li img {
  display: block;
  margin: 0 auto;
}

/* line 885, ../sass/main.scss */
#footer_menu {
  padding: 30px 0 30px 0;
  background-color: #fff;
}
/* line 888, ../sass/main.scss */
#footer_menu .footer_menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 892, ../sass/main.scss */
#footer_menu .footer_menu li {
  margin: 0 10px 0 0;
  float: left;
}
/* line 895, ../sass/main.scss */
#footer_menu .footer_menu li a {
  color: #343434;
  text-decoration: none;
  font-size: 18px;
}
/* line 899, ../sass/main.scss */
#footer_menu .footer_menu li a:hover {
  text-decoration: underline;
}
/* line 906, ../sass/main.scss */
#footer_menu .content {
  font-size: 18px;
}
/* line 908, ../sass/main.scss */
#footer_menu .content .title {
  margin: 0 10px 0 0;
}
/* line 912, ../sass/main.scss */
#footer_menu .footer_phones {
  text-align: center;
}
/* line 915, ../sass/main.scss */
#footer_menu .footer_mails {
  text-align: right;
}

/* line 921, ../sass/main.scss */
#footer {
  padding: 30px 0 30px 0;
}
/* line 923, ../sass/main.scss */
#footer .socials {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}
/* line 928, ../sass/main.scss */
#footer .socials li {
  float: left;
  transition: 0.5s all;
}
/* line 931, ../sass/main.scss */
#footer .socials li:hover {
  -webkit-transform: scale(1.17);
  -ms-transform: scale(1.17);
  transform: scale(1.17);
  transition: 0.5s all;
}

/* line 941, ../sass/main.scss */
#second_main_menu {
  padding: 30px 0 30px 0;
  background-color: #fff;
  z-index: 10;
}
/* line 946, ../sass/main.scss */
#second_main_menu .g_row .sub_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: table;
}
/* line 952, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li {
  width: 25%;
  display: table-cell;
  background: #f9f9f9;
  border-right: 1px solid #d2d2d2;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  -webkit-box-shadow: 0 1px 1px 0 #d2d2d2;
  -moz-box-shadow: 0 1px 1px 0 #d2d2d2;
  box-shadow: 0 1px 1px 0 #d2d2d2;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  transition: 0.5s all;
}
/* line 961, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a {
  display: inline-block;
  height: 50px;
  width: 100%;
  color: #343434;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
/* line 971, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a .text {
  position: relative;
  padding: 0 0 0 28px;
  top: 12px;
}
/* line 976, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a .two_line {
  top: 2px;
}
/* line 979, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a .icon {
  font-size: 32px;
  position: absolute;
  color: #a3a3a3;
}
/* line 984, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a .icon-ambulance {
  top: 13px;
  left: 46px;
}
/* line 988, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a .icon-certificate {
  top: 15px;
  left: 35px;
}
/* line 992, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a .icon-bed {
  top: 12px;
  left: 57px;
}
/* line 996, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li a .icon-micro {
  top: 12px;
  left: 30px;
}
/* line 1002, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li:last-child {
  border-right: 0;
}
/* line 1006, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li:hover {
  backface-visibility: hidden;
  transition: 0.5s all;
  -webkit-transform: translateX(-2px) translateY(-2px);
  transform: translateX(-2px) translateY(-2px);
}
/* line 1007, ../sass/main.scss */
#second_main_menu .g_row .sub_menu li:hover .icon {
  color: #1fbcec;
}

/* line 1020, ../sass/main.scss */
#main_content {
  background-color: #fff;
}
/* line 1022, ../sass/main.scss */
#main_content .header {
  margin: 10px 0 10px 0;
}

/* line 1027, ../sass/main.scss */
.map {
  width: 500px;
  height: 400px;
  border: 1px solid #1ebfed;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* line 1032, ../sass/main.scss */
.map.left {
  float: left;
  margin: 25px 25px 25px 0;
}
/* line 1036, ../sass/main.scss */
.map.right {
  float: right;
  margin: 25px 0 25px 25px;
}

/* line 1042, ../sass/main.scss */
.marked_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1046, ../sass/main.scss */
.marked_list li {
  margin: 0 !important;
  padding-left: 23px;
  text-indent: -1.4em;
}
/* line 1050, ../sass/main.scss */
.marked_list li:before {
  content: "•";
  color: #1fbcec;
  position: relative;
  top: -2px;
  font-size: 12px;
  margin: 0 15px 0 0;
}

/* line 1061, ../sass/main.scss */
.numirated_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1066, ../sass/main.scss */
.numirated_list li .num {
  color: #1fbcec;
  display: inline-block;
  width: 38px;
}

/* line 1074, ../sass/main.scss */
.words_bg {
  background: #1fbcec;
  color: #f5f5f5;
}

/* line 1078, ../sass/main.scss */
.words_color {
  color: #1fbcec;
}

/* line 1081, ../sass/main.scss */
.words_underline {
  color: #1fbcec;
  text-decoration: underline;
}

/* line 1086, ../sass/main.scss */
.image {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* line 1088, ../sass/main.scss */
.image.left {
  float: left;
  margin: 25px 25px 25px 0;
}
/* line 1092, ../sass/main.scss */
.image.right {
  float: right;
  margin: 25px 0 25px 25px;
}

/* line 1098, ../sass/main.scss */
.table {
  width: 100%;
  margin: 16px 0 16px 0;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
/* line 1103, ../sass/main.scss */
.table tr th, .table tr td {
  padding: 10px;
}
/* line 1106, ../sass/main.scss */
.table tr th {
  text-align: left;
  background-color: #1ebfed;
  color: #fff;
  border-left: 1px solid #fff;
}
/* line 1111, ../sass/main.scss */
.table tr th:first-child {
  border-left: 1px solid #1ebfed;
}
/* line 1114, ../sass/main.scss */
.table tr th:last-child {
  border-right: 1px solid #1ebfed;
}
/* line 1118, ../sass/main.scss */
.table tr td {
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
/* line 1121, ../sass/main.scss */
.table tr td:first-child {
  border-left: 1px solid #d2d2d2;
}

/* line 1128, ../sass/main.scss */
.arcsis {
  width: 100px;
  position: absolute;
  top: 30px;
  left: 5px;
}
/* line 1133, ../sass/main.scss */
.arcsis img {
  width: 100%;
  height: auto;
}

/* line 1139, ../sass/main.scss */
.entity_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 1143, ../sass/main.scss */
.entity_list li {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #343434;
}
/* line 1146, ../sass/main.scss */
.entity_list li:last-child {
  border-bottom: 0;
}
/* line 1149, ../sass/main.scss */
.entity_list li img {
  width: 20%;
  float: left;
}
/* line 1153, ../sass/main.scss */
.entity_list li .content {
  width: 80%;
  float: left;
  padding: 15px 15px 30px 15px;
  box-sizing: border-box;
  position: relative;
}
/* line 1159, ../sass/main.scss */
.entity_list li .content .more {
  position: absolute;
  bottom: 0;
  right: 5px;
}

/* line 1170, ../sass/main.scss */
.small_navigation .left {
  float: left;
}
/* line 1173, ../sass/main.scss */
.small_navigation .right {
  float: right;
}

/* line 1179, ../sass/main.scss */
.btn_panel {
  text-align: center;
  margin: 15px 0 15px 0;
}

/* line 1184, ../sass/main.scss */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
/* line 1192, ../sass/main.scss */
.popup .bg {
  background: #343434;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 1201, ../sass/main.scss */
.popup .holder {
  width: 100%;
  margin: 50px 0 0 0;
  position: absolute;
}
/* line 1205, ../sass/main.scss */
.popup .holder form {
  margin: 0 auto;
  display: block;
}
/* line 1209, ../sass/main.scss */
.popup .holder .ask_form {
  width: 400px;
}
/* line 1212, ../sass/main.scss */
.popup .holder .review_form {
  width: 400px;
}

/* line 1218, ../sass/main.scss */
.side_menu {
  border-right: 1px solid #d2d2d2;
}
/* line 1219, ../sass/main.scss */
.side_menu ul {
  padding: 0;
  margin: 16px 0 16px 0;
  list-style: none;
}
/* line 1223, ../sass/main.scss */
.side_menu ul li {
  margin: 0 0 10px 0;
}
/* line 1225, ../sass/main.scss */
.side_menu ul li a {
  color: #1fbcec;
}

/* line 1234, ../sass/main.scss */
#photo_slider_cnt {
  margin: 20px 65px 20px 65px;
  overflow: hidden;
}
/* line 1237, ../sass/main.scss */
#photo_slider_cnt .slider_children {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 9999px;
  position: relative;
}
/* line 1243, ../sass/main.scss */
#photo_slider_cnt .slider_children li {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 20px;
  float: left;
  width: 363px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
/* line 1252, ../sass/main.scss */
#photo_slider_cnt .slider_children li.current {
  /*border: 1px solid $border_color_4;*/
}
/* line 1255, ../sass/main.scss */
#photo_slider_cnt .slider_children li img {
  width: 100%;
  height: auto;
}
/* line 1262, ../sass/main.scss */
#photo_slider_cnt .left_switcher, #photo_slider_cnt .right_switcher {
  position: absolute;
  width: 39px;
  height: 44px;
  transition: all 1s;
  cursor: hand;
  opacity: 0.4;
  top: 45%;
}
/* line 1270, ../sass/main.scss */
#photo_slider_cnt .left_switcher:hover, #photo_slider_cnt .right_switcher:hover {
  opacity: 0.8;
}
/* line 1274, ../sass/main.scss */
#photo_slider_cnt .left_switcher {
  left: 20px;
  background: url(../images/left_arrow.png) no-repeat;
}
/* line 1278, ../sass/main.scss */
#photo_slider_cnt .right_switcher {
  right: 0;
  background: url(../images/right_arrow.png) no-repeat;
}

/* line 1286, ../sass/main.scss */
.small_photo_slider_cnt .slider_children li {
  width: 250px !important;
}

/* line 1292, ../sass/main.scss */
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
}
/* line 1300, ../sass/main.scss */
.popup .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.8;
}
/* line 1309, ../sass/main.scss */
.popup .form_bg {
  height: auto;
  background: #f9f9f9;
  width: 200px;
  text-align: center;
  margin: 60px auto 0 auto;
}
/* line 1315, ../sass/main.scss */
.popup .form_bg .text {
  display: none;
}
/* line 1319, ../sass/main.scss */
.popup .form_bg form input[type=text] {
  margin: 10px 0 10px 0;
}
/* line 1322, ../sass/main.scss */
.popup .form_bg form .error {
  display: none;
}

/* line 1329, ../sass/main.scss */
.image_popup .image_holder {
  width: 900px;
  margin: 0 auto;
  background-color: #ebebeb;
  border: 1px solid #1fbcec;
  padding: 5px;
  box-sizing: border-box;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
/* line 1337, ../sass/main.scss */
.image_popup .image_holder img {
  cursor: hand;
  width: 100%;
}

@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
    -webkit-filter: blur(2px);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
